@import '../../bower_components/modular-scale/stylesheets/modularscale';

$modularscale:(
	base: 1em,
	ratio: 1.25
);

body {
	font-family:'Avenir', sans-serif;
	font-size: ms( 0 );
}
small { font-size: ms( -1 ); }
h6 { font-size: ms( 1 ); }
h5 { font-size: ms( 2 ); }
h4 { font-size: ms( 3 ); }
h3 { font-size: ms( 4 ); }
h2 { font-size: ms( 5 ); }
h1 { font-size: ms( 6 ); }
