// Reset

* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

html {
	font-size:20px;
	font-family:sans-serif;
}

.container {
	display:flex;
	align-items:center;
	justify-content:center;

	min-height:100vh;
}
