$base-font-size: 16px;
$brand-color: hotpink;

@function px-to-rem( $value ) {
	@return ( $value / $base-font-size ) * 1rem;
}

body {
	margin:0;
	background: $brand-color;
	font-size: px-to-rem( 20px );
}