@function px-to-em( $pixels ) {
	@return ( $pixels / 16px ) * 1em;
}
@mixin respond-to( $value, $property:'min-width' ) {
	$value: px-to-em( $value );
	@media screen and ( #{ $property }: #{ $value } ) {
		@content;
	}
}
.box {
	width:50%;

	@include respond-to( 600px ) {
		width:100%;
	}
}