// box component

.box {
	max-width:600px;
	padding:20px;

	background:$color-grey;
	border:1px solid $color-border;
	box-shadow:1em 1em 0 lighten( rgba( $color-brand, 0.6 ), 30% );
}
.box__title {
	font-size:2.5em;
	color:$color-brand;
	margin:0 0 1rem;

	 img {
		 vertical-align:top;
	 }
}
.box__content {
	max-width:32em;
	line-height:1.5;
}
